@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";

main {
    background-image: url(https://images.unsplash.com/photo-1572284795851-e2c9da37db05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
}