.tipList {
    display: flex;
    flex-direction: column;
    background-color:  #1c78c3e1;
    height: 100%;
}

.tip {
    background-color: rgba(255, 248, 220, 0.80);
    text-align: center;
    font-size: 1.7vw;
    border-radius: 5%;
    padding: 5%;
    margin: 10%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 8px 0 rgba(0, 0, 0, 0.4);
}